[Unit]
Description=flannel
Documentation=https://github.com/coreos/flannel
After=kubelet.service

[Service]
ExecStartPre=/opt/flannel/bin/wait-for-etcd.sh
ExecStart=/opt/flannel/bin/flanneld --etcd-endpoints=http://127.0.0.1:4001
# ExecStartPost=sleep 3; /opt/docker/bin/config-cbr0.sh `ifconfig flannel.1 | grep "inet addr" | cut -d ':' -f 2 | cut -d ' ' -f 1`
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
